html {
    text-align: center;
}

html li {
    list-style-type: none;
}

header {
    margin: 0 auto;
    height: 80px;
    background: #333;
    color: #eee;
    font-size: 1.75rem;
}

header h1 {
    line-height: 80px;
}

nav {
    background: #ccc;
    margin-bottom: 1rem;
    padding: .25rem;
}

main {
    text-align: center;
}

section {
    margin: 1rem auto;
    max-width: 1400px;
}

h1 {
    margin-bottom: 1rem;
}

h2 {
    margin-top: 0px;
    margin-bottom: .5rem;
}

table {
    width: 100%;
}

tr {
    text-align: left;
}

th,
td {
    text-align: left;
}

fieldset {
    border: 2px dashed #DDD;
    margin-bottom: .5rem;
    padding: 0 1rem 1rem 1rem;
    border-radius: 10px;
}

legend {
    color: #333;
    font-size: 1.2rem;
}

label {
    display: block;
    margin-top: .5rem;
}

label.required:after {
    content: "*";
    color: #dc3545;
}

input {
    min-width: 400px;
}

input[type=button],
input[type=submit] {
    min-width: 0;
}
