/* Code Based on Starter Code accessed 5/24/2024
by Devin Daniels and Zachary Maes under the supervision of Dr. Michael Curry and Dr. Danielle Safonte
https://github.com/osu-cs340-ecampus/react-starter-app */

html {
    text-align: center;
}

html li {
    list-style-type: none;
}

header {
    margin: 0 auto;
    height: 80px;
    background: #333;
    color: #eee;
    font-size: 1.75rem;
}

header h1 {
    line-height: 80px;
}

nav {
    background: #ccc;
    margin-bottom: 1rem;
}

main {
    text-align: center;
    padding: 1rem 1vw;
}

section {
    margin: 1rem auto;
    max-width: 1400px;
}

h1 {
    margin-bottom: 1rem;
}

h2 {
    margin-top: 0px;
    margin-bottom: 1.5rem;
}

table {
    margin-top: 1rem;
    width: 100%;
}

tr {
    text-align: left;
}

th,
td {
    text-align: left;
}

form {
    text-align: left;
}
fieldset {
    border: 2px dashed #DDD;
    margin-bottom: .5rem;
    padding: 0 1rem 1rem 1rem;
    border-radius: 10px;
}

form legend {
    color: #333;
    font-size: 1.2rem;
}

form label {
    display: block;
    margin-top: .5rem;
}

label.required:after {
    content: "*";
    color: #dc3545;
}

input {
    min-width: 400px;
}

input[type=button],
input[type=submit] {
    min-width: 0;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: fixed;
    margin-left: -60px;
    margin-top: -60px;
    left: 50%;
    top: 50%;
    z-index: 9999;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 350ms;
    opacity: 0.3;
    z-index: 9998;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}